{
   "stopwords" : [
      "AfterBuild",
      "AppVeyor",
      "authordeps",
      "autoexpand",
      "AutoPrereqs",
      "basedir",
      "BeforeRelease",
      "BundleInfo",
      "CI",
      "corelist",
      "CoreList",
      "dev",
      "dist",
      "Dist",
      "distmeta",
      "doc",
      "DynamicPrereqs",
      "ExecDir",
      "ExecFiles",
      "ExtraTestFiles",
      "ExtUtils",
      "Freenode",
      "inc",
      "InMemory",
      "InstallModules",
      "lib",
      "MetaProvides",
      "MinimumVersion",
      "OnDist",
      "perlcriticrc",
      "PerlMinimumVersionAndWhy",
      "pl",
      "pm",
      "PrereqScanner",
      "ProhibitUnusedVarsStricter",
      "RemoveDevelopPrereqs",
      "req",
      "RT",
      "SetScriptShebang",
      "ShareDir",
      "shebang",
      "SKIRMESS",
      "StricterSubs",
      "TestFiles",
      "Tics",
      "tmp",
      "Ubuntu",
      "UpdatePod",
      "Useqq",
      "wd",
      "xenial",
      "xt",
      "XTSmokeTestDependenciesAreInCore",
      "zilla",
      "Zilla"
   ]
}
